@import "tailwindcss";
@import "uniwind";

/* Test Docs Application */
@layer theme {
	:root {
		@variant light {
			--color-background: #fcfcfc;
			--color-foreground: #313e38;
			--color-card: #ffffff;
			--color-card-foreground: #313e38;
			--color-popover: #ffffff;
			--color-popover-foreground: #313e38;
			--color-primary: #00b262;
			--color-primary-foreground: #effffa;
			--color-secondary: #d2e0ea;
			--color-secondary-foreground: #12161f;
			--color-muted: #d3e0ea;
			--color-muted-foreground: #5c6375;
			--color-accent: #d3e0ea;
			--color-accent-foreground: #313e38;
			--color-destructive: #f1113e;
			--color-border: #e5ecf1;
			--color-input: #c3d0da;
			--color-ring: #00b262;
			--color-chart-1: #00b262;
			--color-chart-2: #4d5f9c;
			--color-chart-3: #14bac4;
			--color-chart-4: #ccc072;
			--color-chart-5: #8f68cb;
			--color-sidebar: #f3faff;
			--color-sidebar-foreground: #313e38;
			--color-sidebar-primary: #00b262;
			--color-sidebar-primary-foreground: #f3faff;
			--color-sidebar-accent: #d3e0ea;
			--color-sidebar-accent-foreground: #313e38;
			--color-sidebar-border: #c3d0da;
			--color-sidebar-ring: #00b262;
		}

		@variant dark {
			--color-background: #080b14;
			--color-foreground: #e9f0f5;
			--color-card: #12161f;
			--color-card-foreground: #e9f0f5;
			--color-popover: #12161f;
			--color-popover-foreground: #e9f0f5;
			--color-primary: #00b262;
			--color-primary-foreground: #080b14;
			--color-secondary: #282d3d;
			--color-secondary-foreground: #e9f0f5;
			--color-muted: #282d3d;
			--color-muted-foreground: #798093;
			--color-accent: #282d3d;
			--color-accent-foreground: #e9f0f5;
			--color-destructive: #ff1648;
			--color-border: #e9f0f526;
			--color-input: #e9f0f533;
			--color-ring: #00b262;
			--color-chart-1: #00b262;
			--color-chart-2: #697dbc;
			--color-chart-3: #14bac4;
			--color-chart-4: #ccc072;
			--color-chart-5: #8f68cb;
			--color-sidebar: #12161f;
			--color-sidebar-foreground: #e9f0f5;
			--color-sidebar-primary: #00b262;
			--color-sidebar-primary-foreground: #080b14;
			--color-sidebar-accent: #282d3d;
			--color-sidebar-accent-foreground: #e9f0f5;
			--color-sidebar-border: #e9f0f526;
			--color-sidebar-ring: #00b262;
		}
	}
}
